# See http://help.github.com/ignore-files/ for more about ignoring files.

# Dependencies
/node_modules

# Production
/dist

# Typescript
/lib

# sStorybook
/storybook-static

# Miscellanous
.DS_Store
*.env*
.vscode