# Source Files
src/
assets/
__tests__/
coverage/
TODO.md

# Storybook
.storybook/
storybook-static/

# Config Files
jest.config.js
.eslintrc.js
.eslintignore
.gitignore
tsconfig.json

# Miscellaneous
*.env*
.vscode