# Source Files
src/
assets/
testing/
coverage/
TODO.md

# Storybook
.storybook/
stories/
storybook-static/

# Config Files
jest.config.js
.babelrc.js
.eslintrc.js
.gitignore

# Miscellaneous
*.env*
.vscode