# Source Files
src/
assets/
__tests__/
coverage/

# Storybook
.storybook/
storybook-static/

# Config Files
jest.config.js
.eslintrc.js
.eslintignore
.gitignore
tsconfig.json
.travis.yml

# Miscellaneous
*.env*
.vscode
TODO.md
CODE_OF_CONDUCT.md